<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shoebox</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/3.0.1/css/primer.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" />
        <style>


            .nav {
                font-size: 16px;
            }
            .nav-item {
                position: relative;
                padding-left: 1em;
            }
            .nav-item:first-child {
                padding-left: 0;
            }

            .nav-item > span:before {
                content: '/';
                position: absolute;
                left: 3pt;
                color: lightgray;
            }
            .nav-item:first-child > span:before {
                display: none;    
            }


        </style>
    </head>
    <body>
        <nav class="nav border-bottom p-3">
        <% nav.forEach(function(item){ %>
            <a class="nav-item" href="<%= item.path %>"><span><%= item.name %></span></a>
        <% }); %>
        </nav>

        <div class="folders">
        <% folders.forEach(function(item) { %>
            <a class="folder" href="<%= item.path %>"><%= item.name %></a>
        <% }); %>
        </div>

        <div class="files">
        <% files.forEach(function(item) { %>
            <a class="file" href="<%= ( '/' + item.Key ) %>"><%= item.Filename %></a>
        <% }); %>
        </div>

        <form action="<%= uploadPath %>" class="dropzone" id="dz"></form>

        <script src="https://cdn.jsdelivr.net/cash/1.3.0/cash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
        <script>
            $('.file').on('click', function(e) {
                e.preventDefault();
                alert(e.target.href);
            });
        </script>
    </body>
</html>